footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: grey;
    margin-top: 50px;
} 
.container-fluid { 
    margin-left: 100px;
    padding-top: 50%;
}

.row-g-0 {
    margin-left: 40%;
}

.skills-heading {
    margin-left: 10%;
}